<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yudi.snwriter"
    android:versionCode="2"
    android:versionName="2.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> 
    <uses-permission android:name="android.permission.WAKE_LOCK" /> 
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
		<uses-feature android:name="android.hardware.camera" />	
		<uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.FLASHLIGHT"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black.NoTitleBar">
            
        </activity>
        <activity
            android:name=".FirstActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black.NoTitleBar"> 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>           
        </activity>
        <activity
            android:name="com.yudi.test.HelloWorld"
            android:label="@string/hello_world" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER2" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yudi.test.ReceiveResult"
            android:label="@string/activity_receive_result" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER1" />
            </intent-filter>
        </activity>
        <activity android:name="com.yudi.test.CustomTitle"
                android:label="@string/app_name"
                android:windowSoftInputMode="stateVisible|adjustPan"
                android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER4" />
            </intent-filter>
        </activity>
    </application>

</manifest>